body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #10172b;
  color: white;
  padding: 10px;
}
.search-container {
  display: flex;
  align-items: center;
}

input[type="text"] {
  padding: 8px;
}
.filter:hover {
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.11);
  background-color: purple;
  color: white;
}
.filter:hover svg {
  fill: white;
}
.filter svg {
  height: 16px;
  fill: rgb(77, 77, 77);
  transition: all 0.3s;
}
.filter {
  width: 50px;
  height: 40px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.192);
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.021);
  transition: all 0.3s;
}
button {
  padding: 8px;
  cursor: pointer;
  margin-left: 10px;
}
.filter-icon {
  cursor: pointer;
  margin-left: 10px;
}

.filter-icon img {
  width: 20px;
  height: 20px;
}
#actionType {
  display: none;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  width: 200px;
  margin-top: 8px;
  position: absolute;
  z-index: 1;
}
#actionType option {
  padding: 8px;
  font-size: 16px;
  background-color: white;
  color: #333;
}
#actionType option:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}

.action-dropdown {
  border-radius: 10px;
  margin-top: -10px;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}
.m {
  width: auto;
  height: 36px;
  padding: 0 0 0 12px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #10172b;
  background-color: rgb(251, 243, 228);
  transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.m:focus {
  border: 1px solid transparent;
  box-shadow: 0px 0px 0px 2px rgb(251, 243, 228);
  background-color: rgb(201, 193, 178);
}
.y {
  width: auto;
  height: 36px;
  padding: 0 0 0 12px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #10172b;
  background-color: rgb(251, 243, 228);
  transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.y:focus {
  border: 1px solid transparent;
  box-shadow: 0px 0px 0px 2px rgb(251, 243, 228);
  background-color: rgb(201, 193, 178);
}
.t {
  width: auto;
  height: 36px;
  padding: 0 0 0 12px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #10172b;
  background-color: rgb(251, 243, 228);
  transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.t:focus {
  border: 1px solid transparent;
  box-shadow: 0px 0px 0px 2px rgb(251, 243, 228);
  background-color: rgb(201, 193, 178);
}
.submit {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 36px;
  background: #007bff;
  box-shadow: 0px 0.5px 0.5px rgba(16, 86, 82, 0.75),
    0px 1px 0.5px rgba(16, 86, 82, 0.75);
  border-radius: 7px;
  border: 1px solid rgb(16, 86, 82);
  color: white;
  font-size: 13px;
  font-weight: 600;
  transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
  margin-bottom: 10px;
}
.submit:hover {
  background: #0056b3;
  transition: 0.5s;
}
#status {
  width: auto;
  height: 36px;
  padding: 0 0 0 12px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #10172b;
  background-color: rgb(251, 243, 228);
  transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}
#status:focus {
  border: 1px solid transparent;
  box-shadow: 0px 0px 0px 2px rgb(251, 243, 228);
  background-color: rgb(201, 193, 178);
}
.title {
  width: 93%;
  height: 40px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 20px;
  border-bottom: 1px solid #10172b;
  font-weight: 700;
  font-size: 20px;
  color: #000000;
}
#searchInputs div {
  display: none;
}
#carInfoFields,
#customerInfoFields,
#reservationFields {
  display: block;
}
#carModel,
#carPlateId {
  width: auto;
  height: 36px;
  padding: 0 0 0 12px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #10172b;
  background-color: rgb(251, 243, 228);
  transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}
#carModel:focus,
#carPlateId:focus {
  border: 1px solid transparent;
  box-shadow: 0px 0px 0px 2px rgb(251, 243, 228);
  background-color: rgb(201, 193, 178);
}

#customerName,
#customerEmail {
  width: auto;
  height: 36px;
  padding: 0 0 0 12px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #10172b;
  background-color: rgb(251, 243, 228);
  transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}
#customerName:focus,
#customerEmail:focus {
  border: 1px solid transparent;
  box-shadow: 0px 0px 0px 2px rgb(251, 243, 228);
  background-color: rgb(201, 193, 178);
}

#reservationDate {
  width: auto;
  height: 36px;
  padding: 0 0 0 12px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #10172b;
  background-color: rgb(251, 243, 228);
  transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}
#reservationDate:focus {
  border: 1px solid transparent;
  box-shadow: 0px 0px 0px 2px rgb(251, 243, 228);
  background-color: rgb(201, 193, 178);
}
#advancedSearchButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 36px;
  background: #007bff;
  box-shadow: 0px 0.5px 0.5px rgba(16, 86, 82, 0.75),
    0px 1px 0.5px rgba(16, 86, 82, 0.75);
  border-radius: 7px;
  border: 1px solid rgb(16, 86, 82);
  color: white;
  font-size: 13px;
  font-weight: 600;
  transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
  margin-bottom: 10px;
}
#advancedSearchButton:hover {
  background: #0056b3;
  transition: 0.5s;
}

#status {
  width: auto;
  height: 36px;
  padding: 0 0 0 12px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #10172b;
  background-color: rgb(251, 243, 228);
  transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}
#status:focus {
  border: 1px solid transparent;
  box-shadow: 0px 0px 0px 2px rgb(251, 243, 228);
  background-color: rgb(201, 193, 178);
}
#search {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}
#searchType {
  width: fit-content;
  border-radius: 50px;
  box-sizing: border-box;
}
#reportType {
  width: fit-content;
  border-radius: 50px;
  box-sizing: border-box;
}
#generateReportButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 36px;
  background: #007bff;
  box-shadow: 0px 0.5px 0.5px rgba(16, 86, 82, 0.75),
    0px 1px 0.5px rgba(16, 86, 82, 0.75);
  border-radius: 7px;
  border: 1px solid rgb(16, 86, 82);
  color: white;
  font-size: 13px;
  font-weight: 600;
  transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
  margin-bottom: 10px;
  margin-left: 25%;
}
#generateReportButton:hover {
  background: #0056b3;
  transition: 0.5s;
}
#reportPeriod {
  width: auto;
  height: 36px;
  padding: 0 0 0 12px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #10172b;
  background-color: rgb(251, 243, 228);
  transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
  width: fit-content;
  margin-left: 25%;
}
#reportPeriod:focus {
  border: 1px solid transparent;
  box-shadow: 0px 0px 0px 2px rgb(251, 243, 228);
  background-color: rgb(201, 193, 178);
}

#reportType,
#searchType {
  width: fit-content;
  height: 36px;
  padding: 0 0 0 12px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #10172b;
  background-color: rgb(251, 243, 228);
  transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}
.terminal {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    
    height: 150px;
    background-color: #f8f9fa;
    padding: 10px;
    box-sizing: border-box;
    color: #333;
    font-family: 'Courier New', monospace;
    border-radius: 8px;
    margin-top: 20px;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#logTerminal {
    font-family: 'Courier New', monospace;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    overflow-y: scroll;
    flex-grow: 1;
    border-radius: 8px;
    box-sizing: border-box;
    color: white;
    margin-right: 10px;
    width: 700px; /* Set the maximum width as needed */
    height: 130px; /* Set the maximum height as needed */
}

.button-container {
    display: flex;
    z-index: 2;
}

#registerCarContent {
    margin-bottom: 200px;
}

.content {
    margin-bottom: 20px;
}

.container {
    width: 300px;
    background: rgb(255, 250, 235);
    box-shadow: 0px 187px 75px rgba(0, 0, 0, 0.01),
        0px 105px 63px rgba(0, 0, 0, 0.05), 0px 47px 47px rgba(0, 0, 0, 0.09),
        0px 12px 26px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: auto;
    gap: 10px;
    margin-left: 37%;
    margin-top: 100px;
    z-index: 2;
}
